# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary outputs
*.test

# Output of go build if you don't use a specific output directory
# (Alternatively, ignore a dedicated build folder like /bin/ or /dist/)
main

# Test coverage artifacts
*.out
*.coverprofile
coverage.txt
profile.cov

# Dependency directories
# (Only ignored if you prefer not to vendoring dependencies)
vendor/

# Go workspace file
go.work
go.work.sum

# Local environment variables
.env
.env.local

# Common IDEs and Editors (Optional, often best kept in global gitignore)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
